{
    // Hjson format is extended JSON.
    // - You can write comment in this file.
    // - commas are optionnal.

    // makes entries for each instance that is allowed to listen.
    // please use only lower-case in instance URL.

    "https://mastodon.juggler.jp": {

        // (optional) replace URL prefix of Streaming API.
        //
        // replaceUrl: "http://172.17.0.1:4000"
        
        // (optional) replace URL prefix of Non-Streaming API.
        // this is used to GET /api/v1/instance
        //
        // replaceUrlWeb: "http://172.0.1:3000"
        
        // (optional) default stream type. one of "user", "user:notification". 
        // "user:notification" is introduced on Mastodon v1.4.2
        //
        // endpoint: "user"
    }

    // if you want don't limit instance to listen, uncomment this.
    // "*" :{
    // }
}
