{
    // Hjson format is extended JSON.
    // - You can write comment in this file.
    // - commas are optionnal.

    // makes entries for each instance that is allowed to listen.
    // please use only lower-case in instance URL.

    "https://mastodon.juggler.jp": {

        // (optional) replace url to connect.
        replaceUrl: "http://172.17.0.1:4000"
    }

    // if you want don't limit instance to listen, uncomment this.
    // "*" :{
    // }
}